# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
.terraform.lock.hcl
.terraform.tfstate
*.tfplan

# Secrets
*.json
!*.example.json
secrets.env
.env

# Zip files
*.zip

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Node (caso use em front-end futuramente)
node_modules/
dist/
